*{
    font-family: 'Lora', Georgia, serif;
}
body{
    overflow-x:hidden;
}
a{
    color:#802629;
}
a:hover{
    color:#C9C29C;
}
h1{
    line-height: 3.4rem;
}
h1, h2, .footertitle{
    font-size: 2.2rem;
    margin-bottom: 20px;
}
h6{
    font-size: 1.8rem;
    line-height:4rem;
}
h1, h2, h6, .fg-cap, #sidecontent h4, .inlinecaption figcaption>strong{
    text-transform: capitalize uppercase;
    font-variant:small-caps !important;
}
ol{
    padding-inline-start:15px;
}
select {
  background-color: white;
  border: none;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:-moz-focusring {
  color: #802629;
  text-shadow: 0 0 0 #000;
}
select {
  background-image:
    linear-gradient(45deg, transparent 50%, #802629 50%),
    linear-gradient(135deg, #802629 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
  max-width: 100%;
}



/* HEADER */
body>header .navbar-brand>img{
    height:72px;
    width:auto;
}
body>header .navbar-toggle{
    position: absolute;
    right: 0px;
    top: 25px;
}
body>header .navbar-collapse .navbar-nav{
    margin-top: 40px;
}
body>header .navbar-phone{
    position: absolute;
    top:20px;
    right:0;
}
body>header .navbar-phone .navbar-phone-icon{
    font-size: 3rem;
    padding: 5px 10px 0 0;
    line-height: 3rem;
}
body>header .navbar-phone .navbar-phone-number{
    font-size:120%;
    text-align:justify;
}
body>header .navbar-phone .navbar-phone-opening{
    font-size:80%;
}
body>header a{
    color:#000;
}
body>header a:hover{
    color:#802629;
}
.extendedmenu li>a>h6:hover, .extendedmenu .active, .navbar-default, .navbar li>a:hover, .navbar-default, .navbar li>a:active, .navbar-default, .navbar li>a:focus{
    color:#802629!important;
    text-decoration: underline!important;
}
.navbar-default, .navbar li>a:hover, .navbar-default, .navbar li>a:active, .navbar-default, .navbar li>a:focus{
    background:none;
    border:none;
}
.navbar {
  min-height: 80px;
}
.navbar .navbar-collapse li>a{
    font-size:2rem;
}
.extendedmenu ul{
    padding:0 0 0 10px;
    list-style: none;
}
.extendedmenu ul>li{
    margin-bottom:5px;
    list-style: none;
}
.extendedmenu h6{
    margin:0;
    color: #000;
}
.extendedmenu li .fg-cap{
    font-size: 1.8rem;
    line-height:3rem;
}
.extendedmenu{
    position: absolute;
    top: 100px;
    left: 30px;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding:20px 20px 30px;
    border-radius: 0px 0px 10px 10px;
    z-index:16;
    display:none;
}
.extendedmenu#Ueber-uns{
    width: auto;
    left: 485px;
}
.extendedmenu#Ueber-uns ul{
    padding:0;
    margin:0;
}



/* MAIN */
body>main{
    padding-bottom:70px;    
}
#maincontent{
    padding:0 50px 0 0;
}
#maincontent a:hover, .highlight-box.red a:hover, #maincontent .panel-title>a{
    text-decoration: unset;
    border-bottom:1px dashed #C9C29C;
}
#maincontent>section{
    padding:15px 0;
}
#maincontent a, #maincontent>section:first-child, #sidecontent h4, hr, .strippedborderbottom, .reiseangebot.reiseberichtboxes article{
    border-bottom:1px dashed #802629;
}
.reiselandboxes>.row{
    margin-bottom:30px;
    padding-bottom:30px;
    border-bottom:1px dashed #C9C29C;
}
.reiselandboxes>.row>*{
    position:relative;
    display:table;
    width:100%;
    overflow:hidden;
    margin-left:15px;
}
.reiselandboxes>.row>*>*{
    display:table-cell;
    float:inherit;
}
.reiselandboxes>.row>*>figure{
    height:100%;
    background-size:cover;
    background-position:center center;
}
.reiselandboxes>.row>*>div{
    padding: 30px 15px 15px 30px;
}
.reiselandboxes>.row>*>div .btn{
    padding: 7px 25px;
}
.reiseangebot.reiseberichtboxes article{
    margin-bottom:15px;
}
.reiseangebotboxes>div{
    padding-bottom:0;
    overflow: hidden;
}
.reiseangebotboxes>div article h2{
    margin: 0px 0px 7.5px;
    font-size: 1.8rem;
}



/* SIDECOL */
#sidecontent{
    padding-top:35px;
}
#sidecontent h4{
    line-height:3rem;
}
#sidecontent>section{
    margin-bottom:30px;
}
img.pull-left{
    width:65px;
    height:auto;
    margin:0 15px 0 0;
}
.contactbox img.pull-left{
    width:50%;
    margin:20px 15px 0 0;
}
.contactbox p{
    margin-top:40px;
    margin-bottom: 0;
}
.contactbox .btn-red{
    margin-left:-45px;
}
.highlight-box.red{
    color:#FFFFFF;
}
.highlight-box.red ul.btn-group-vertical>li>strong{
    padding-left:15px;
}



/* FOOTER */
footer section{
    padding:15px 0;
}
footer aside .glyphicon, footer .nominatetravelbox img, footer .sapiomediabox img{
    margin:1%;
}
footer a{
    color:#FFFFFF;
    text-decoration: underline;
}
footer>section.red{
    border-top:10px solid #C9C29C;
    color:#FFFFFF;
}
footer .nominatetravelbox img{
    width:17%;
}




/* HELPER + FIXER */
.img-full{
    width:100%;
    height:auto;
}
.container{
    position:relative;
}
.ochre{
    background-color:#C9C29C;
}
.ochre-text, .btn-red.btn.focus, .btn-red.btn:focus, .btn-red.btn:hover, .red label.customcheck.btn.focus, .red label.customcheck.btn:focus, .red label.customcheck.btn:hover, .highlight-box.red a{
    color:#C9C29C;
}
.ochre-light{
    background-color:#E8E5DF;
}
.black{
    background-color:#000000;
}
.black-text{
    color:#000000;
}
.red, .bulletlistsapio li>a.active>span{
    background-color:#802629;
}
.red-text, .list-sapiostyled li:before, .panel-title > a.red-text{
    color:#802629;
}
.btn-red{
    background-color:#802629;
    color:#FFFFFF;
    border:none;
}
.fg-hightlight{
    line-height:2.4rem;
    font-size:2rem;
}
.fg-bold{
    font-weight: bold;
}
a.readon{
    text-decoration: none;
    border: none!important;
}
a.readon::before, .list-sapiostyled li:before{
    content: ">  ";
    font-weight:bold;
}
blockquote {
  border-left: none;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
blockquote p:before{
    content: "„";
}
blockquote p:after{
    content: "”";
}
.highlight-box{
    padding:5px 8px;
}
.highlight-box h4{
    color:#000;
    margin-top:0;
    border:none;
}
.highlight-box>div{
    border: 1px dashed #FFFFFF;
    padding:15px;
}
.highlight-box .form-group{
    margin-bottom: 5px;
}
.highlight-box input.btn{
    margin-top: 5px;
}
.margin0{
    margin:0;
}
.margintop30{
    margin-top:30px;
}
.margintop15{
    margin-top:15px;
}
.marginbottom15{
    margin-bottom:15px;
}
.padding0{
    padding:0;
}
.paddingsmallercols{
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.paddingsmallercols>*{
    padding:0 5px;
}
paddingleft30{
    padding-left:30px;
}
.padding15, #maincontent>section.padding15{
    padding:15px;
}
.padding30{
    padding:30px;
}
paddingtop15{
  padding-top: 15px;
}
.paddingleft15{
  padding-left: 15px;
}
.lh24{
    line-height:2.4rem;
}

.hiddenlink{
    border:none!important;
    color:inherit;
}
.hiddenlink:hover{
    color:inherit;
}
.form-control{
    background-image: inherit;
}
.noshadow{
    text-shadow: none;
}
.inlinecaption{
    position:relative;
}
.inlinecaption figcaption{
    width:100%;
    display:block;
    background-color:rgba(255,255,255,.85);
    position:absolute;
    bottom:0;
    left:0;
    padding:10px 5px 5px;
    line-height:1.6rem;
    text-shadow:none;
    color:#000000;
}
.inlinecaption figcaption.cigarband{
    font-size:90%;
    bottom:15px;
    padding:5px 2px;
}
.inlinecaption figcaption.singleline{
    padding:17px 5px 14px;
    line-height:1.6rem;
}
label.customcheck {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-align: left!important;
}
label.customcheck span{
    white-space: normal;
}
label.customcheck input[type="checkbox"] ~ div.checkbg{
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
}
label.customcheck input[type="checkbox"] ~ div.checkbg>i.glyphicon.glyphicon-ok, label.customcheck input[type="checkbox"]{
    display: none;
}
label.customcheck input[type="checkbox"]:checked ~ div.checkbg>i.glyphicon.glyphicon-ok{
    color: #FFFFFF;
    display: inline;
    font-size: 10px;
    top:0;
    left: 4px;
}
label.customcheck input[type="checkbox"]:disabled ~ span{
    color: rgba(0,0,0,.4);
    cursor: not-allowed;
}
.imagemapbox{
    width:100%;
    height:auto;
    position:relative;
}
.imagemapbox>.output{
    position:absolute;
    top:0;
    left:0;
    display: none;
}
.reiseberichtboxes article{
    border-bottom:1px dashed #C9C29C;
    padding-bottom:15px;
}
.reiseberichtboxes.ueberunsboxes article{
    border-bottom:1px dashed #802629;
    margin-bottom:30px;
}
.reiseberichtboxes.ueberunsboxes article .btn{
    margin:15px 0;
}
.reiseberichtboxes article img{
    margin-bottom:10px;
}
.reiseberichtboxes article h2{
    line-height:1.8rem;
}
.reiseberichtboxes article img.pull-left{
    width:30%;
    height:auto;
}
.reiseberichtboxes.reiseangebot article img.pull-left{
    width:auto;
    height:160px;
}
.reiseberichtboxes>.btn-red{
    margin-top:15px
}
.terminuebersichtboxes .list-group-item:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.terminuebersichtboxes .list-group-item:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.terminuebersichtboxes .list-group-item{
    border-radius: 0px;
    padding-bottom: 0px;
    border: none;
    box-shadow: none;
    padding: 10px 0;
    margin-bottom: 1px;
}
.terminuebersichtboxes .list-group-item time{
    margin-top:15px;
    font-size:90%;
    display: block;
}
.terminuebersichtboxes .list-group-item h4, .terminuebersichtboxes .list-group-item .btn{
    margin-bottom: 0;
    margin-top:15px;
}
.statusbull{
    height: 10px; 
    border-radius: 50%; 
    margin-right: 7px; 
    display: inline-block; 
    width: 10px; 
    line-height: 85%;
}
.statusbull.statusbull-orange{
    background-color: orange;
}
.statusbull.statusbull-red{
    background-color: #802629;
}
.statusbull.statusbull-green{
    background-color: green;
}
.img-half{
    width:50%!important;
    height:auto!important;
}
.panel {
    background-color: initial;
    border: none;
    border-radius: none;
    box-shadow: 0;
}
.panel.panel-default{
    box-shadow: 0;
    border-bottom:1px dashed #C9C29C;
}
.panel-default > .panel-heading {
    background-color: transparent;
    border-color: inherit;
    color: inherit;
}
.panel-default > .panel-heading + .panel-collapsed > .panel-body {
    border-top-color: none;
}
#maincontent .panel-default a.fg-cap.collapsed .pull-right{
    transform: rotate(-90deg);
}
#maincontent .panel-default a.fg-cap{
    border:0!important;
    /*padding-bottom:0; */
}
.pressebox .panel-default > .panel-heading + .panel-collapse > .panel-body.padding0{
  border-top: none;
}
.pressebox .panel-heading{
    padding:0;
}
.pressebox .panel-title{
    padding-bottom:0;
}
.pressebox .panel-title>*{
    display: block;
    padding:15px 0;
}
.pressebox .panel-body>h6{
    margin-top:-20px;
}
.pressebox .panel-body>article{
    margin-bottom:30px;
    padding:15px 0;
}
.pressebox .panel-body>article time{
    display:block;
    margin-bottom:15px;
}
.multiplepicslider .carousel-control {
  opacity: 1;
  width: 5%;
  z-index: 5;
}
.multiplepicslider .row>*{
  padding:0 5px;
}
.multiplepicslider .row>*:first-child{
  padding-left:0;
}
.multiplepicslider .row>*:last-child{
  padding-right:0;
}
.noborder{
    border: none!important;
}
.bulletlistsapio{
    line-height:4rem;
}
.bulletlistsapio li>a{
    font-size:2.2rem;
}
.bulletlistsapio li>a.active{
    color:#000;
}
.bulletlistsapio li>a>span{
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
    color:#fff;
    line-height:2.2rem;
    margin-right: 5px;
}
.bulletlistsapio li>a>span>.glyphicon{
    font-size: 1rem;
    font-weight: bold;
    left: 5px;
    line-height: 1rem;
    top: -4px;
}









/* MAINSLIDER */
.carousel-control, .carousel-control.right, .carousel-control.left{
  background: none;
}
.carousel-control:hover{
  background: none;
}
#headerslider .item{
    background-size:cover;
    background-position: center center;
    height:350px;
    width:100%;
}
#headerslider .item .carousel-caption{
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    text-shadow: none;
    color: rgb(0, 0, 0);
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    padding: 7px 20px;
}
#headerslider .item .carousel-caption.carousel-caption-top-left{
    top: 8%;
    left: 8%;
}
#headerslider .item .carousel-caption.carousel-caption-top-right{
    top: 8%;
    right: 33%;
}
#headerslider .item .carousel-caption.carousel-caption-bottom-right{
    bottom: 8%;
    right: 33%;
}
#headerslider .item .carousel-caption.carousel-caption-bottom-left{
    bottom: 8%;
    left: 8%;
}
#headerslider .carousel-control {
  width: 50px;
}
#headerslider .carousel-control.right {
  right: -50px;
}
#headerslider .carousel-control.left {
  left: -50px;
}
#headerslider .carousel-caption-bottom-right{
    text-align:left;
}
.fintravelbox{
    padding:10px 0;
}
.fintravelbox .btn-red{
    padding:7px 40px;
}
.fintravelbox .text-right>a{
    font-size:16px;
    line-height: 34px;
}
.fintravelbox .text-right>a .glyphicon{
    background-color:#ffffff;
    padding: 5px 7px;
}




/* RESPONSIVE */
@media (min-width: 995px) and (max-width: 1170px){
    .fintravelbox .row>div.paddingleft30{
        text-align:right;
    }
}
@media (max-width: 995px){
    .fintravelbox .row>div.paddingleft30{
        text-align:center;
        margin-top: 10px;
    }
    .container {
        width: 100%;
    }
    #headerslider .carousel-control.right{
        right:0;
    }
    #headerslider .carousel-control.left{
        left:0;
    }
    body > header .navbar-phone {
        right: 20px;
    }
    #sidecontent .btn-red, #sidecontent .contactbox .btn-red {
        margin-left: 0;
        width: 100%;
    }
    #sidecontent .highlight-box>div{
        padding:5px;
    }
    #sidecontent .contactbox strong {
        clear: left;
        display: block;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
    #headerslider .item .carousel-caption.carousel-caption-top-right{
        right: 8%;
    }
    #headerslider .item .carousel-caption.carousel-caption-bottom-right{
        right: 8%;
    }
    .headersliderbox{
        padding:0;
    }
    .col-sm-4 {
        margin-bottom: 10px;
    }
    .paddingsmallercols{
        padding-bottom: 0!important;
    }
    .highlight-box > div {
        padding: 5px;
    }
    .footertitle{
        text-align:center;
    }
}
@media (min-width: 768px){
    .p0axs{
        padding-bottom:0!important;
    }
    .p0axs>*{
        margin-bottom:0!important;
    }
}
@media (max-width: 768px){
    #headerslider .item {
        height: 200px;
    }
    .fintravelbox .container, body > header .navbar-collapse .navbar-nav>*{
        text-align: center;
    }
    p {
        text-align: justify;
    }
    #maincontent {
        padding: 0;
    }
    #maincontent > section.highlight-box {
        padding: 5px 8px;
    }
    .highlight-box > div {
        padding: 15px;
    }
    body > main {
        padding-bottom: 15px;
    }
    .contactbox .btn-red {
        margin-left: 0;
        margin-top: 15px;
    }
    body > header .navbar-collapse .navbar-nav {
        margin-top: 60px;
    }
    .reiselandboxes .row > * > figure{
        height: 200px;
    }
    .reiselandboxes .row > * > * {
        display: inherit;
    }
}
