@font-face {
	font-family: 'DanteMTStd';
	src: url('../fonts/dante-mt-regular.eot') format('eot'),
		 url('../fonts/dante-mt-regular.woff') format('woff'),
		 url('../fonts/dante-mt-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DanteMTStd';
	src: url('../fonts/dante-mt-italic.eot') format('eot'),
		 url('../fonts/dante-mt-italic.woff') format('woff'),
		 url('../fonts/dante-mt-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DanteMTStd';
	src: url('../fonts/dante-mt-bold.eot') format('eot'),
		 url('../fonts/dante-mt-bold.woff') format('woff'),
		 url('../fonts/dante-mt-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DanteMTStd';
	src: url('../fonts/dante-mt-bold-italic.eot') format('eot'),
		 url('../fonts/dante-mt-bold-italic.woff') format('woff'),
		 url('../fonts/dante-mt-bold-italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

body{
    font-family: 'DanteMTStd', Georgia, serif;
    overflow-x:hidden;
    font-size:1.8rem;
    line-height: 1.25;
}
a, a:focus, a:hover{
    color:#7b1c1e;
}
a[href^="tel:"]{
    color:#333;
}
a[href^="tel:"]:hover{
    color:#333;
    text-decoration: none;
}
h1, h2, .footertitle{
    font-size: 2.4rem;
    margin-bottom: 13px;
}
h6{
    font-size: 2.2rem;
    line-height: 4rem;
}
h1, h2, h6, .fg-cap, #sidecontent h4, #sidecontent h5, .highlight-box h5, .inlinecaption figcaption>strong{
    font-variant:small-caps !important;
}
.fg-cap small{
    font-size: 80%;
    font-variant: initial !important;
}
ol{
    padding-inline-start:15px;
}
label{
    font-size:16px;
}
select, input, textarea {
    background-color: white;
    border: none;
    display: inline-block;
    font: inherit;
    line-height: 1.4;
    padding: 5px 0.2em;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size:16px;
}
select{
    padding: 6px 2em 5px 0.7em;
    background-image: url("../images/icons/arrow_down.png");
    background-position: calc(100% - 10px) 14px;
    background-repeat: no-repeat;
    max-width: 100%;
    cursor: pointer;
}
select:-moz-focusring {
    color: #7b1c1e;
    text-shadow: 0 0 0 #000;
}
select::-ms-expand {
    display: none;
}
select>option{
    padding-left: 5px;
}
optgroup{
    padding: 5px 5px;
}
optgroup>option{
    margin: 4px 0;
}
.btn, .form-control{
    font-size:16px;
    font-weight: normal;
    line-height: 20px;
    font-weight: bolder;
}


/* HEADER */
body>header .navbar-brand>img{
    height:72px;
    width:auto;
}
body>header .navbar-toggle{
    position: absolute;
    right: 0px;
    top: 25px;
}
body>header .navbar-collapse .navbar-nav{
    margin-top: 43px;
}
body>header .navbar-collapse .navbar-subnav{
    display: none;
}
body>header .navbar-phone{
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(480px) translateX(-50%);
}
body>header .navbar-phone .navbar-phone-icon{
    padding: 5px 10px 0 0;
}
body>header .navbar-phone .navbar-phone-number{
    font-size:120%;
    text-align:justify;
    vertical-align: middle;
}
body>header .navbar-phone .navbar-phone-number>span{
    font-size:1.3rem;
    margin-top: -0.2rem;
    letter-spacing: .3px;
    display:block;
}
body>header a{
    color:#000;
}
body>header a:hover{
    color:#7b1c1e;
}
.extendedmenu li>a>h6:hover, .extendedmenu .active, .navbar-default, .navbar li>a:hover, .navbar-default, .navbar li>a:active, .navbar-default, .navbar li>a:focus{
    color:#7b1c1e!important;
    text-decoration: underline!important;
}
.navbar-default, .navbar li>a:hover, .navbar-default, .navbar li>a:active, .navbar-default, .navbar li>a:focus{
    background:none;
    border:none;
}
.navbar {
    min-height: 90px;
    margin-top: 10px;
    margin-bottom: 12px;
}
.navbar .navbar-collapse li>a{
    font-size: 2.5rem;
    padding-right: 25px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-right: 25px;
}
.extendedmenu ul {
	padding: 0;
}
.extendedmenu ul>li{
    list-style: none;
    font-size: 90%;
    line-height: 1.3;
}
.extendedmenu ul>li>a{
	display: block;
}
.extendedmenu h6{
    margin:0;
    color: #000;
}
.extendedmenu li .fg-cap{
    font-size: 2.2rem;
}
.extendedmenu{
    position: absolute;
    top: 100px;
    left: 50%;
    background-color: white;
    padding:25px;
    border-radius: 0px 0px 4px 4px;
    z-index:16;
    display:none;

}
#Reiseziele, #Reisethemen {
	width: 1170px;
    transform: translateX(15px) translateX(-50%);
    height: 300px;
}
#Reisethemen {
    height: 260px;
}
#Ueber-uns {
    transform: translateX(80px) translateX(-50%);
}
#Reiseziele ul {
	padding-left: 15px;
}
#Reisethemen img {
	margin-right: 65px;
}
.markTxt {
	font-size: 90%;
}

/* MAIN */
body>main{
    padding-bottom:70px;
}
#maincontent{
    padding:0 50px 0 0;
}
#maincontent h1{
    margin-top: 14px;
    letter-spacing: .5px;
}
#maincontent strong.strongextraline{
    display: block;
    margin-bottom: 2px;
}
#maincontent>section{
    padding:15px 0;
}
#sidecontent h4, hr{
    border-bottom:2px dotted #7b1c1e;
}
.reiselandboxes h2, .incentiveboxes h2 {
    margin: 0;
    line-height: 0.9;
}
.reiselandboxes small, .incentiveboxes small, .reiseberichtboxes small, .reiseangebotboxes small, .reiseangebotboxes .small {
	font-size: 90%;
}
.reiselandboxes article, .incentiveboxes article, .reiseberichtboxes article img {
	margin-top: 5px;
}
.reiselandboxes ul {
	font-size: 90%;
	line-height: 1.3;
}
.reiselandboxes hr, .incentiveboxes hr {
    border-bottom:2px dotted #C9C29C;
    margin-bottom: 30px;
    margin-top: 50px;
}
.reiseangebotboxes hr {
    border-bottom:2px dotted #C9C29C;
    margin: 5px 0 10px 0;
}
.reiselandboxes>.row>*, .incentiveboxes>.row>*, .teamboxes>.row>* {
    position:relative;
    display:table;
    width:100%;
    overflow:hidden;
    margin-left:15px;
}
.reiselandboxes>.row>*>*{
    display:table-cell;
    float:inherit;
}
.reiselandboxes>.row>*>figure{
    height:100%;
    background-size:cover;
    background-position:center center;
}
.reiselandboxes>.row>*>div{
    padding: 25px 17px 15px 30px;
}
.reiselandboxes>.row>*>div .btn, #sidecontent .btn-red.pull-right{
    padding: 7px 25px;
}
.reiselandboxes>.row>*>div .btn {
	margin-top: -20px;
}
.reiselandboxes button, .incentiveboxes button, .reiseberichtboxes button {
	padding: 12px;
	text-transform: uppercase;
	width: 100%;
}
.reiseangebot.reiseberichtboxes article{
    margin-bottom:15px;
}
.reiseangebotboxes article{
    padding-bottom:0;
    overflow: hidden;
}
.reiseangebotboxes article h2{
    margin-bottom: 5px;
    font-size: 2.4rem;
}
.reiseberichtboxes.reiseangebot article{
    border-bottom: none;
    padding-bottom:0;
    margin-bottom:0;
}




/* SIDECOL */
#sidecontent{
	padding: 20px 0 0 0;
}
#sidecontent h4{
    line-height:3rem;
    font-size: 2.5rem;
}
#sidecontent h5, .highlight-box h5 {
    font-size: 2.3rem;
    margin-top: 0;
}
#sidecontent>section{
    margin-bottom:25px;
}
#sidecontent>section.margin0{
    margin:0;
}
#sidecontent p, #sidecontent strong, footer.footer-include p, footer.footer-include address{
    font-size: 90%;
    line-height: 1.15;
}
footer.footer-include address{
    margin-bottom:20px;
}
footer.footer-include p.lh24{
    line-height: 1.4;
}
#sidecontent .img-rounded, .contactbox .img-rounded {
	margin: 0 10px 3px 0;
}
.contactbox .img-rounded {
	width: 50%;
}
.contactbox .contact {
	padding-top: 25px;
}
.contactbox a[href^="tel:"]{
    display: block;
    margin-top: -1px;
    font-size: 90%;
    line-height: 1.1;
}
.contactbox .btn-red{
    margin: 10px 20px 0 -100px;
}
.contactbox p {
	margin-bottom: 15px;
}
.highlight-box.red{
    color:#FFFFFF;
    font-size: 90%;
}
.highlight-box.red ul.btn-group-vertical>li>strong{
    padding-left:15px;
}



/* FOOTER */
footer section{
    padding:15px 0;
}
footer aside .glyphicon, footer .nominatetravelbox img{
    margin:1%;
}
footer a, .red.highlight-box.padding15 a, footer a[href^="tel:"]{
    color:#FFFFFF!important;
    text-decoration: underline;
}
footer>section.red{
    border-top:10px solid #C9C29C;
    color:#FFFFFF;
}
footer .nominatetravelbox img{
    width:17%;
}




/* HELPER + FIXER */
.img-full{
    width:100%;
    height:auto;
}
.ochre{
    background-color:#C9C29C;
}
.btn-ochre{
    background-color:#C9C29C;
    color:#000000;
    border:none;
}
.ochre-text, .highlight-box.red a{
    color:#C9C29C;
}
.ochre-light{
    background-color:#E8E5DF;
}
.black{
    background-color:#000000;
}
.black-text{
    color:#000000!important;
}
.red, .bulletlistsapio li>a.active>span, label.customcheck input[type="checkbox"] ~ div.checkbg {
    background-color:#7b1c1e;
}
.red-text, .list-sapiostyled li:before, .panel-title > a.red-text{
    color:#7b1c1e;
}
.white-text{
    color:#FFFFFF;
}
.btn-red {
    background-color:#7b1c1e;
    color:#FFFFFF;
    border:none;
}
.btn-red:focus, .btn-red:hover {
    color:#FFFFFF;
}
.btn-red img {
	vertical-align: top;
}
.optionGroup {
    font-weight: bold;
}
.fg-hightlight{
    line-height:2.8rem;
    font-size:2.4rem;
}
.fg-bold{
    font-weight: bold;
}
.fg-size75{
    font-size:75%!important;
}
.fg-size90{
    font-size:90%!important;
}
.fg-normal{
    font-weight: normal;
}
a.readon{
    text-decoration: none;
    border: none!important;
}
#sidecontent a.readon{
    text-decoration: none;
    border: none!important;
    font-size: 90%;
}
a.readon::before, .list-sapiostyled li:before{
    background-image: url("../images/icons/arrow_right.png");
    background-position: -3px 3px;
    background-repeat: no-repeat;
    content: "   ";
}
blockquote {
  border-left: none;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
blockquote p {
	padding-top: 5px;
}
blockquote img {
	margin-right: 15px;
}
.highlight-box{
    padding: 6px;
    border-radius: 4px;
}
.highlight-box h4{
    color:#000;
    margin-top:0;
    border:none;
}
.highlight-box>div{
    border: 2px dashed #FFFFFF;
    padding:15px;
}
.highlight-box .form-group{
    margin-bottom: 5px;
}
.highlight-box input.btn{
    margin-top: 5px;
}
.margin0{
    margin:0;
}
.margintop0{
    margin-top:0;
}
.margintop40{
    margin-top:40px;
}
.margintop30{
    margin-top:30px;
}
.margintop15{
    margin-top:15px;
}
.margin15{
    margin:15px;
}
.marginright15{
    margin-right:15px;
}
.marginbottom15{
    margin-bottom:15px;
}
.marginbottom30{
    margin-bottom:30px;
}
.padding0{
    padding:0;
}
.paddingbottom0{
    padding-bottom:0!important;
}
.paddingtop0{
    padding-top:0!important;
}
.paddingsmallercols{
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.paddingsmallercols>*{
    padding:0 5px;
}
.paddingleft30{
    padding-left:30px;
}
.paddingright30{
    padding-right:30px;
}
.padding15, #maincontent>section.padding15{
    padding:15px;
}
.padding30{
    padding:30px;
}
.paddingtop30{
  padding-top: 30px;
}
.paddingtop15{
  padding-top: 15px;
}
.paddingleft15{
  padding-left: 15px;
}
.lh24{
    line-height:2.8rem;
}
.hiddenlink{
    border:none!important;
    color:inherit;
}
.hiddenlink:hover{
    color:inherit;
}
.form-control{
    background-image: inherit;
    border: medium none;
}
.noshadow{
    text-shadow: none;
}
.inlinecaption{
    position:relative;
}
.inlinecaption figcaption{
    width:100%;
    display:block;
    background-color:rgba(255,255,255,.7);
    position:absolute;
    bottom:0;
    left:0;
    padding:10px 5px;
    line-height:2.4rem;
    font-size:115%;
    text-shadow:none;
    color:#000000;
}
.inlinecaption figcaption.cigarband{
    font-size:90%;
    bottom:15px;
    padding:5px 2px;
}
.inlinecaption figcaption.singleline{
    line-height: 2.4rem;
    padding: 20px 5px;
}
label.customcheck {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-align: left!important;
    padding: 0;
    padding-bottom: 10px;
}
label.customcheck span{
    white-space: normal;
    font-weight: bold;
}
label.customcheck input[type="checkbox"] ~ div.checkbg{
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
}
label.customcheck input[type="checkbox"] ~ div.checkbg>i.glyphicon.glyphicon-ok, label.customcheck input[type="checkbox"]{
    display: none;
}
label.customcheck input[type="checkbox"]:checked ~ div.checkbg>i.glyphicon.glyphicon-ok{
    color: #FFFFFF;
    display: inline;
    font-size: 10px;
    top:0;
    left: 4px;
}
label.customcheck input[type="checkbox"]:disabled ~ span{
    color: rgba(0,0,0,.4);
    cursor: not-allowed;
}
.imagemapbox{
    width:100%;
    height:auto;
    position:relative;
}
.imagemapbox>.output{
    position:absolute;
    top:0;
    left:0;
    display: none;
}
.incentiveboxes article>.ochre-light, .teamboxes article>.ochre-light{
    margin:0 15px 30px 15px;
    padding:15px 0;
}
#maincontent .ueberunsboxes {
	padding-top: 0;
	font-size: 90%;
}
.reiseberichtboxes.ueberunsboxes article {
    border-bottom:2px dotted #7b1c1e;
    margin-bottom:30px;
}
.reiseberichtboxes.ueberunsboxes article .btn{
    margin:15px 0 25px 0;
}
.reiseberichtboxes article {
    border-bottom:2px dotted #C9C29C;
    margin-bottom:20px;
    padding-bottom:20px;
}
.reiseberichtboxes article img{
    margin-bottom:10px;
}
.reiseberichtboxes article h2{
    line-height:2.2rem;
}
.teamboxes article p {
	font-size: 90%;
}
.reiseberichtboxes article img.pull-left{
    width:30%;
    height:auto;
}
.reiseberichtboxes.reiseangebot article img.pull-left{
    width:auto;
    height:160px;
}
.reiseberichtboxes>.btn-red{
    margin-top:30px
}
.terminuebersichtboxes .list-group-item:first-child, ul.nav-tabs.ochre{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.terminuebersichtboxes .list-group-item:last-child, .tab-content.ochre-light, .ochre-light.img-rounded.paddingbottom0{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.terminuebersichtboxes .list-group-item{
    border-radius: 0px;
    padding-bottom: 0px;
    border: none;
    box-shadow: none;
    padding: 10px 0;
    margin-bottom: 1px;
}
.terminuebersichtboxes .list-group-item time{
    font-size:95%;
    display: block;
}
.terminuebersichtboxes .list-group-item h4{
    margin-bottom: 0;
    margin-top:15px;
}
.terminuebersichtboxes .list-group-item .btn{
    margin-top:20px;
}
.terminuebersichtboxes .list-group-item small {
    font-size:90%;
}
.statusbull{
    height: 10px; 
    border-radius: 50%; 
    margin-right: 7px; 
    display: inline-block; 
    width: 10px; 
    line-height: 85%;
}
.statusbull.statusbull-orange{
    background-color: #F37029;
}
.statusbull.statusbull-red{
    background-color: #7b1c1e;
}
.statusbull.statusbull-green{
    background-color: #AFCA4C;
}
.statusbull.statusbull-yellow{
    background-color: #C9C29C;
}
.img-half{
    width:50%!important;
    height:auto!important;
}
.panel {
    background-color: initial;
    border: none;
    border-radius: none;
    box-shadow: 0;
}
.panel.panel-default{
    box-shadow: 0;
    border-bottom:2px dotted #C9C29C;
}
.panel-default > .panel-heading {
    background-color: transparent;
    border-color: inherit;
    color: inherit;
}
.panel-default > .panel-heading + .panel-collapsed > .panel-body {
    border-top-color: none;
}
#maincontent .panel-default a.fg-cap.collapsed .pull-right{
    transform: rotate(-90deg);
}
#maincontent .panel-default a.fg-cap {
    border:0!important;
    font-size: 2.3rem;
    color: #7b1c1e;
}
#maincontent .panel-default a.fg-cap:hover, #maincontent .panel-default a.fg-cap:focus {
	text-decoration: none;
}
#maincontent .panel-default a.fg-cap[aria-expanded="true"] {
    color: #000000;
}
.pressebox .panel-default > .panel-heading + .panel-collapse > .panel-body.padding0 {
  border-top: none;
}
.pressebox .panel-heading{
    padding:0;
}
.pressebox .panel-title{
    padding-bottom:0;
}
.pressebox .panel-title>*{
    display: block;
    padding:15px 0;
}
.pressebox .panel-body > h6 {
    margin-top:-15px;
    line-height: 1.2;
}
.pressebox .panel-body>article{
    margin-bottom:30px;
    padding:15px 0;
}
.pressebox .panel-body>article time{
    display:block;
    margin-bottom:15px;
}
.multiplepicslider .carousel-control {
  width: 5%;
  z-index: 5;
  border-radius: 6px;
}
.multiplepicslider .row>*{
  padding:0 5px;
}
.multiplepicslider .row>*:first-child{
  padding-left:0;
}
.multiplepicslider .row>*:last-child{
  padding-right:0;
}
.noborder{
    border: none!important;
}
.bulletlistsapio{
    line-height:4rem;
}
.bulletlistsapio li>a {
    font-size:2.4rem;
}
.bulletlistsapio li>a:hover, .bulletlistsapio li>a:focus {
    text-decoration: none;
}
.bulletlistsapio li>a.active{
    color:#000;
}
.bulletlistsapio li>a>span{
    background-color: #c9c29c;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
    color:#fff;
    line-height: 2.6rem;
    margin-right: 5px;
    top: 3px;
}
.bulletlistsapio li>a>span>.glyphicon{
    font-size: 1rem;
    left: 5px;
    top: -4px;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
    background-color: none;
    color:#000000;
    border:none;
    padding: 10px 30px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #7b1c1e;
    color:#FFFFFF;
    border:none;
}
.tab-content .row{
    position: relative;
}
.tab-pane .row>h2 ~ a{
    position: absolute;
    top: 0;
    right: 15px;
}
.tab-pane .row>h2 ~ a>span{
    margin-right: 5px;
}
.markimagemap{
    height: auto;
    max-height: 250px;
    max-width: 100%;
    width: auto;
}
.flowerbg{
    position: absolute;
    z-index: -1;
    left: -270px;
    top: 450px;
}
.flowerbg.flowerbg-bottom{
    top: 1150px;
    left:inherit;
    right: 300px;
}
hr.inlinehr{
    margin: 10px 15px 15px 15px;
    border: 0;
    border-bottom: 2px dotted #7b1c1e;
}
blockquote .small, blockquote footer, blockquote small {
  color: #333333;
  display: block;
  font-size: 100%;
  font-style: italic;
}
blockquote .small::before, blockquote footer::before, blockquote small::before {
  content: "";
}
.img-rounded {
    border-radius: 6px;
}
.getimgmaplistsele a.red-text{
    text-decoration: underline;
}
.arrow-down {
	font-size: 60%;
	transition: all 0.3s ease-out;
}


/* BOOKING-MODAL */
.modal.and.carousel {
  position: fixed;
}
.modal-lg {
	width: 1100px;
}
.modal-lg h2, .modal-lg .nav {
	font-weight: bold;
}
#buchungsanfragemodal .tab-content {
	font-size: 16px;
}
#buchungsanfragemodal .text-left {
  text-align: left!important;
}
#buchungsanfragemodal .inputline {
  margin-bottom:15px;
}
#buchungsanfragemodal .inputline-half {
  margin-bottom:5px;
}
#buchungsanfragemodal .inputline p, #buchungsanfragemodal .inputline-half p  {
  padding-top: 7px;
}
#buchungsanfragemodal .inputline input, #buchungsanfragemodal .inputline textarea{
  width: 100%;
  border-radius: 4px;
  padding: 0.5em 1rem;
}
#buchungsanfragemodal .close{
  font-size: 3rem;
  margin-right: 15px;
  margin-top: -15px;
}
#buchungsanfragemodal .tab-pane footer a, footer.footer-include nav.informs a{
    text-decoration: none;
}
#buchungsanfragemodal .tab-pane footer .right{
    padding-right: 45px;
}
#buchungsanfragemodal .tab-pane footer .left{
    padding-left: 45px;
}
#buchungsanfragemodal .form-horizontal .form-group {
    margin:initial;
}
#buchungsanfragemodal .form-horizontal .form-group::after, #buchungsanfragemodal .form-horizontal .form-group::before{
    display:inherit;
}



/* MAINSLIDER */
.carousel-control, .carousel-control.right, .carousel-control.left{
  background: none;
}
.carousel-control:hover{
  background: none;
}
#headerslider .item{
    background-size:cover;
    background-position: center center;
    height:330px;
    width:100%;
}
#headerslider .item .carousel-caption{
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    text-shadow: none;
    color: rgb(0, 0, 0);
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    padding: 7px 20px;
    text-align: left;
}
#headerslider .item .carousel-caption.carousel-caption-top-left{
    top: 8%;
    left: 8%;
}
#headerslider .item .carousel-caption.carousel-caption-top-right{
    top: 8%;
    right: 33%;
}
#headerslider .item .carousel-caption.carousel-caption-bottom-right{
    bottom: 8%;
    right: 33%;
}
#headerslider .item .carousel-caption.carousel-caption-bottom-left{
    bottom: 8%;
    left: 8%;
}
#headerslider .carousel-control {
    width: 20px;
}
.carousel-control {
    opacity:.6;
}
.carousel-control:hover{
    opacity:1;
}
.carousel-control img{
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    font-size: 30px;
    color:#fff;
}
#headerslider .carousel-control.right {
    right: -20px;
}
#headerslider .carousel-control.left {
    left: -28px;
}
#headerslider .carousel-caption-bottom-right{
    text-align:left;
}
.fintravelbox {
    padding:10px 0;
}
.fintravelbox .btn-red, .fintravelbox .pull-right.btn-red{
    padding:6px 40px;
}
.fintravelbox .text-right>a{
    display: block;
    font-size: 2.2rem;
    line-height: 34px;
    margin-top: 2px;
}
.fintravelbox .text-right>a:hover, .fintravelbox .text-right>a:focus {
    text-decoration: none;
}
.fintravelbox .text-right>a>img{
    height: 34px;
    margin-top: -5px;
    width: auto;
}
.fintravelbox select, .modal-lg select {
	width: 100%;
	border-radius: 4px;
}
.fintravelbox .btn-red, .fintravelbox select{
    margin-top:3px;
}
.fintravelbox .btn-red>.glyphicon {
    margin:2px;
}
.fintravelbox label.control-label{
    padding-top: 11px;
}




/* RESPONSIVE */
@media (max-width: 1199px){
	.contactbox .contact {
		padding-top: 15px;
	}
	.contactbox .btn-red {
		margin-right: 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	body > header .navbar-phone{
    	transform: translateX(400px) translateX(-50%);
	}
    .fintravelbox .row>div.paddingleft30{
        text-align:right;
    }
	#Reiseziele, #Reisethemen, .modal-lg {
		width: 970px;
	}
	#Ueber-uns {
	    transform: translateX(180px) translateX(-50%);
	}
	#headerslider .item .carousel-caption.carousel-caption-top-right{
	    right: 29.5%;
	}
	#headerslider .item .carousel-caption.carousel-caption-bottom-right{
	    right: 29.5%;
	}
}
@media (max-width: 991px) {
    .fintravelbox .row>div.paddingleft30{
        text-align:center;
    }
    #Reiseziele, #Reisethemen, .modal-lg {
    	width: 750px;
    }
	#Ueber-uns {
	    transform: translateX(253px) translateX(-50%);
	}
    #headerslider .carousel-control.right{
        right:0;
    }
    #headerslider .carousel-control.left{
        left:0;
    }
	body > header .navbar-phone{
	    transform: translateX(270px) translateX(-50%);
	}
    p {
        text-align: justify;
    }
    #sidecontent .highlight-box>div{
        padding:5px;
    }
    #headerslider .item .carousel-caption.carousel-caption-top-right{
        right: 6%;
    }
    #headerslider .item .carousel-caption.carousel-caption-bottom-right{
        right: 6%;
    }
    .headersliderbox{
        padding:0;
    }
    .col-md-4, .col-sm-4, .col-sm-12, .terminuebersichtboxes .col-md-2 {
        margin-bottom: 10px;
    }
    .terminuebersichtboxes .col-md-4 {
    	margin-bottom: 0;
    }
    .terminuebersichtboxes .col-md-2 {
    	text-align: justify;
    }
    .reiselandboxes .row > * > figure{
        height: 200px;
    }
    .reiselandboxes .row > * > * {
        display: inherit;
    }
	.incentiveboxes article figure, .teamboxes article figure, .reiseangebotboxes figure {
		margin-bottom: 15px;
	}
	blockquote p {
		padding-top: 0;
	}
    .paddingsmallercols{
        padding-bottom: 0!important;
    }
    .highlight-box > div {
        padding: 5px;
    }
    .footertitle{
        text-align:center;
    }
}
@media (min-width: 768px){
    .p0axs{
        padding-bottom:0!important;
    }
    .p0axs>*{
        margin-bottom:0!important;
    }
    .container {
        padding: 0;
    }
}
@media (max-width: 767px){
    #headerslider .item {
        height: 200px;
    }
    .modal-lg {
    	width: 96%;
    }
	.tab-pane .row>h2 ~ a{
		margin-left: 15px;
		position: initial;
	}
    .fintravelbox {
    	padding-bottom: 0;
    }
    .fintravelbox .container, body > header .navbar-collapse .navbar-nav>*{
        text-align: center;
    }
    .fintravelbox label{
        text-align: right;
    }
    .fintravelbox select, .fintravelbox .btn.btn-red{
        float:left;
    }
	.fintravelbox select {
		width: 96%;
		margin-bottom: 5px;
	}
    .fintravelbox .btn.btn-red{
        width: 96%;
        padding-left: 25%;
        text-align: left;
    }
    #maincontent {
        padding: 0;
    }
    #maincontent > section.highlight-box {
        padding: 5px 8px;
    }
    .highlight-box > div {
        padding: 15px;
    }
    .contact p.pull-right {
    	float: none!important;
    }
    .contact .btn-red {
    	margin-left: 0;
    }
    body > main {
        padding-bottom: 15px;
    }
    body > header .navbar-collapse .navbar-nav {
        margin-top: 60px;
    }
	body>header .navbar-collapse .navbar-subnav > li > a {
	    font-size: 100%;
	}
}
